*{
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: #000;
  background-image: url("image/bg_line.png");
  background-size: cover;
  overflow-x: hidden;
  font-size: 62.5%;
}

      /* Common Setup */

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: block;
    margin: 0;
    width: 100%;
    height: 48px;
    background: rgba(0,0,0,.8);
    font-size: 17px;
    user-select: none;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 77;
  display: block;
  margin: 0;
  width: 100%;
  height: 48px;
  background: rgba(0,0,0,0.92);
  font-size: 17px;
  user-select: none;
}

nav .container{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
}

nav .list{
    cursor: default;
    margin: 0 -8px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

nav .list .item{
  box-sizing: border-box;
  position: relative;
  height: 44px;
  list-style: none;
  vertical-align: top;
}

nav .list .link{
    position: relative;
    font-size: 13px;
    line-height: 3.66667;
    font-weight: 400;
    letter-spacing: -.01em;
    color: #c4c4c4;
    z-index: 9999;
    display: inline-block;
    padding: 0 8px;
    min-width: 100%;
    height: 44px;
    opacity: 1;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    outline-offset: -7px;
    transition: .25s;
    cursor: pointer;
}

nav .list .link:hover{
  transition: .25s;
  color: #fff;
}

nav .list .ky-link{
    background-size: 30px 44px;
    background-repeat: no-repeat;
    background-image: url("image/KY.svg");
    background-position: center;
    width: 30px;
}

nav .list .home-link{
  background-size: 30px 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size: cover;
  width: 2.5em;
  max-width: 51px;
}

.hamburger-menu{
	height: 0;
	width: 0;
	cursor: pointer;
	display: flex;
  z-index: 999;
	align-items: center;
  border-radius: 5px;
	justify-content: flex-end;
}

nav.active::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    transition: 0.5s;
    background: #1d1d1f;
    animation: drop 0.5s forwards ease;
}

@keyframes drop{
	0%{
		transform: translateY(-50em);
	}
	100%{
		transform: translateY(0em);
		background: #000;
	}
}

nav.active::after{
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s;
}

nav.active{
  position: fixed;
}

.bar{
	width: 0;
	height: 0;
	border-radius: 5px;
	transition: 0.5s;
	position: relative;
}

.bar::before,.bar::after{
	content:'';
	position: absolute;
	width: inherit;
	height: inherit;
  border-radius: 5px;
	background-color: #eee;
}

.bar::before{
	transform: translateY(-5px);
  transition: .25s;
}

.bar::after{
	transform: translateY(5px);
  transition: .25s;
}

nav.active .bar{
	background-color: transparent;
}

nav.active .bar::before{
  transition: .25s ease-in;
	transform: translateY(0) rotate(45deg);
}

nav.active .bar::after{
  transition: .25s ease-in;
	transform: translateY(0) rotate(-45deg);
}

.container-slider{
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-end;
}

.slider-wrapper{
  position: relative;
  max-width: 95%;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, .25);
  border-radius: 0.5rem;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider_nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 1rem;
}

.slider_nav a{
  width: 3rem;
  height: 5px;
  border-radius: 10px;
  background-color: #FFE382;
  opacity: .75;
  transition: opacity ease .5s;
}

.slider_nav a:hover{
  opacity: 1;
  height: 6px;
}

      /* Cards Setup */

.cards{
  position: relative;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  z-index: 444;
}

.cards:nth-child(1){
  top: 0%;
}

.cards:nth-child(4){
  flex-direction: row-reverse;
}

.cards:nth-child(6){
  flex-direction: row-reverse;
}

.preview{
  position: relative;
  height: 20rem;
  max-width: 70%;
}

.preview img{
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  margin: auto;
}

.content{
  position: relative;
  margin-left: -3rem;
  margin-right: -3rem;
  background: #1d1d1f;
  padding: 1.5rem;
  max-width: 40%;
  box-shadow: 0 0 10px #000;
  border-radius: .5rem;
}

h1{
  color: #FFE382;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

p{
  color: #43D9B8;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn{
  background: #005744;
  border: none;
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  border-radius: .5rem;
  color: #ffe382;
}

.contact-container{
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.conversation{
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #1d1d1f;
  border-radius: .5rem;
  padding-bottom: 20px;
}

.head-container h1{
  font-weight: 400;
  font-size: 2rem;
}

.head-container h3{
  color: #43D9B8;
  font-weight: 400;
  font-size: 1.2rem;
}

.head-container a{
  text-decoration: underline dotted;
  cursor: pointer;
  color: #43D9B8;
  font-weight: 400;
  font-size: 1rem;
}

.Or-body{
  min-width: 100%;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  background: #ffe382;
  border-radius: 3px;
}

.Or{
  width: 5rem;
  height: 5rem;
  background: #ffe382;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 50%;
  text-align: center;
}

.form{
  background: #1d1d1f;
  padding: 1rem;
  border-radius: .5rem;
}

.title{
  font-size: 30px;
  letter-spacing: 0.25px;
  color: #FFE382;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.row-{
  display: flex;
}

.col{
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.group{
  position: relative;
  margin-bottom: 1rem;
  min-width: 100%;
}

.form-control{
    border: 1px solid #FFE382;
    background: none;
    color: #43D9B8;
    font-size: 12px;
    min-width: 95%;
    border-radius: .5rem;
    padding: 1rem;
}

textarea{
  height: 9rem;
  resize: none;
  border-radius: .5rem;
}

.submit-btn{
    background: #005744;
    color: #ffe382;
    font-size: 15px;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 400;
    display: block;
    margin: auto;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
}

      /* Common Card */

.heading{
  position: relative;
  min-width: 100%;
  max-height: 100vh;
  margin-top: 6rem;
}

.heading h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.heading p{
  text-align: center;
  font-size: 1rem;
}

.section-group{
  position: relative;
  margin-top: 1rem;
  margin-bottom: 4rem;
  max-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.section{
  position: relative;
  min-width: 35%;
  background-color: #1d1d1f;
  padding: 1rem;
  border-radius: 1rem;
}

.section-container{
  position: relative;
  border: solid 2px #ffe382;
  border-radius: .5rem;
}

.section-content{
  text-align: center;
  padding: 1rem;
}

.section-content-{
  text-align: left;
  padding: .5rem;
  padding-left: 2rem;
}

.section-image{
  position: relative;
  height: 20rem;
}

.section-image img{
  width: 100%;
  height: 100%;
  margin: auto;
}

.anchor{
  text-decoration: none;
  padding: 1rem;
}

        /* Trunkey Contracting Setup */

.header{
  text-align: center;
  padding: 5rem;
}

.header h1{
  font-size: 2rem;
}

.content ul{
  padding-left: 1rem;
}

.content li{
  font-size: 1rem;
  color: #43D9B8;
  margin-bottom: 1rem;
  width: 20rem;
}

.promise{
  color: #43D9B8;
  display: flex;
  align-items: center;
}

.promise i{
  color: #43D9B8;
  font-size: 1rem;
  margin-right: .5rem;
}

.activity{
  display: flex;
}

.grp-1, .grp-2{
  display: flex;
  flex-direction: column;
  margin-right: 1.6rem;
}

        /* Potfolio Setup */

.projects{
  padding: 100px 0 20px 0;
  min-width: 100%;
}

.projects-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.pic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.img, .cont{
    min-height: 1px;
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 50%;
}

.img{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.img img{
    max-width: 100%;
    max-height: 70vh;
    border-top: 2px solid #ffe382;
    border-bottom: 2px solid #ffe382;
    padding: 10px 0;
}

.projects-thumb{
    border-top: 2px solid #ffe382;
    border-bottom: 2px solid #ffe382;
    min-width: 100%;
    max-height: 100%;
    padding: 10px 0;
    line-height: 2rem;
}

        /* About us - Setup */

.person-grouping{
  min-width: 100%;
  max-height: 148vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.person{
  position: relative;
  width: 350px;
  max-height: 100vh;
  background: #1d1d1f;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: .5s;
  margin-bottom: 5rem;
}

.person:hover .imgbox{
  box-shadow: 0 35px 80px #ffe382;
}

.imgbox{
  position: relative;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  height: 150px;
  width: 150px;
  background: #1d1d1f;
  border-radius: 50%;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: .5s;
}

.imgbox img{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentbox{
  top: 0;
  min-width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.details{
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  width: 100%;
  transition: .5s;
}

.details h1 span{
  font-size: .75em;
  font-weight: 500;
  opacity: .5;
}

        /* Footer Setup */

footer{
    background: #1d1d1f;
    padding: 50px 50px 20px 50px;
}

.address h1{
  font-size: 1rem;
}

.address p{
  font-size: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: -15px;
}

.column{
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5rem;
}

.column p, .column h1{
  text-align: center;
}

.label{
  padding: .3rem;
  min-width: 100%;
  max-height: 100vh;
  border-radius: 1rem;
  background: #333;
}

.label a{
  letter-spacing: .1rem;
}

.label i{
  font-size: 1rem;
  color: #fff;
  padding: .8rem;
  background-color: #1d1d1f;
  border-radius: 1rem;
  margin-right: .5rem;
}

i{
  font-size: 1.1rem;
  color: #fff;
}

.copyright{
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 44px;
  background-color: #1d1d1f;
}

.copyright p{
  font-weight: 600;
  color: #ffe382;
}

.column a{
  font-size: 1rem;
  color: #43D9B8;
}

@media (min-width: 550px) and (max-width: 1000px){

  body{
    overflow-x: hidden;
    background-size: contain;
  }

  .cards{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
  }

  .cards:nth-child(4), .cards:nth-child(6){
    flex-direction: column;
  }

  .preview{
    height: 100%;
    width: 100%;
  }

  .preview img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .content{
    min-width: 70%;
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .list{
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .item-1, .item-2, .item-3, .item-4, .item-5{
    border-bottom: 2px solid #fff;
    top: -100vh;
    min-width: 100%;
    opacity: 1;
  }

  .item:nth-child(1){
    display: flex;
    justify-content: center;
    opacity: 1;
    border: none;
  }

  .item-1.active, .item-2.active, .item-3.active, .item-4.active, .item-5.active{
    opacity: 1;
    top: 0;
    transition: .5s;
  }

  .hamburger-menu{
  	height: 2rem;
  	width: 2rem;
    margin-left: .5rem;
  }

  .bar{
  	width: 1.5rem;
  	height: 2px;
  }

  header{
    display: flex;
    align-items: center;
  }

  nav .container{
    left: -5%;
    margin: 0;
    padding: 0;
    min-width: 100%;
  }

  .content .btn{
    border-radius: 5px;
  }

  footer{
    display: flex;
    flex-direction: column;
  }

  .row{
    justify-content: center;
  }

  .row-{
    flex-direction: column;
  }

  .contact-form{
    display: flex;
    flex-direction: column;
  }

  .col{
    margin: 0;
  }

  .section-group{
    flex-direction: column;
    padding: 0;
    min-width: 100%;
    align-items: center;
  }

  .section{
    margin-top: 2rem;
    max-width: 100%;
    max-height: 100vh;
  }

  .pic{
    flex-direction: column;
  }

  .img, .cont{
      max-width: 100%;
  }

  .projects-content{
    max-width: 100%;
    text-align: center;
  }

  .person-grouping{
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;
  }

  .person{
    margin-bottom: 5rem;
  }

  .pic,.section,.form,.conversation{
    border-radius: 10px;
  }

  .section-container{
    border-radius: 5px;
  }
}

@media (min-width: 1px) and (max-width: 540px){

  body{
    overflow-x: hidden;
    background-size: contain;
  }

  .container-slider{
    padding: 1rem;
  }

  .cards{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
  }

  .cards:nth-child(4), .cards:nth-child(6){
    flex-direction: column;
  }

  .preview{
    height: 100%;
    width: 100%;
  }

  .preview img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .content{
    padding: 1rem;
    min-width: 70%;
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .list{
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .item-1, .item-2, .item-3, .item-4, .item-5{
    border-bottom: 2px solid #fff;
    top: -100vh;
    min-width: 100%;
    opacity: 1;
  }

  .item:nth-child(1){
    display: flex;
    justify-content: center;
    opacity: 1;
    border: none;
  }

  .item-1.active, .item-2.active, .item-3.active, .item-4.active, .item-5.active{
    opacity: 1;
    top: 0;
    transition: .5s;
  }

  .hamburger-menu{
  	height: 2rem;
  	width: 2rem;
    margin-left: .5rem;
  }

  .bar{
  	width: 1.5rem;
  	height: 2px;
  }

  header{
    display: flex;
    align-items: center;
  }

  nav .container{
    left: -10%;
    margin: 0;
    padding: 0;
    min-width: 100%;
  }

  .content .btn{
    border-radius: 5px;
  }

  footer{
    display: flex;
    flex-direction: column;
  }

  .row{
    justify-content: center;
  }

  .row-{
    flex-direction: column;
  }

  .contact-form{
    display: flex;
    flex-direction: column;
  }

  .col{
    margin: 0;
  }

  .form-control{
    min-width: 88%;
  }

  .section-group{
    flex-direction: column;
    padding: 1rem;
  }

  .section{
    max-width: 100%;
    max-height: 100vh;
    margin-bottom: 1rem;
  }

  .pic{
    flex-direction: column;
  }

  .img, .cont{
      max-width: 100%;
  }

  .projects-content{
    max-width: 100%;
    text-align: center;
  }

  .person-grouping{
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .heading{
    margin-bottom: 2rem;
  }

  .section-image{
    height: 10rem;
  }

  .pic,.section,.form,.conversation{
    border-radius: 10px;
  }

  .section-container{
    border-radius: 5px;
  }
}
